{{#article}}
<div class="row text-center" id="artId"  data-id={{data._id}}>
    <h1>{{paper}}</h1>
</div>
<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">{{data.headline}}</h1>
        <p class="lead">{{data.summary}}</p>
        <a class="btn btn-primary" href={{data.link}} target="_blank">Read the full article.</a>
    </div>
</div>
{{/article}}